mixin picture(src, webp = false, avif = false, lazy = false, classes = '', width, height, srcset = '', srcset_webp = '', sizes = '')
	picture
		if webp
			each sourceType in [avif ? 'image/avif' : null, 'image/webp'].filter(Boolean)
				source(type=sourceType srcset=(lazy ? 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPjwvc3ZnPg==' : webp + (sourceType === 'image/avif' ? '.avif' : '.webp')) data-srcset=(lazy ? webp + (sourceType === 'image/avif' ? '.avif' : '.webp') : null))
			img(
			width=width
			height=height
			src=(lazy ? 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPjwvc3ZnPg==' : src)
			data-src=(lazy ? src : null)
			alt=""
			loading=(lazy ? 'lazy' : null)
			data-sizes=(lazy ? sizes : null)
			class=(lazy ? 'lazy ' : '') + classes
			)&attributes(attributes)
		else
			img(
			width=width
			height=height
			src=(lazy ? 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxIiBoZWlnaHQ9IjEiPjwvc3ZnPg==' : src)
			data-src=(lazy ? src : null)
			alt=""
			loading=(lazy ? 'lazy' : null)
			srcset=(lazy ? null : srcset)
			data-sizes=(lazy ? sizes : null)
			class=(lazy ? 'lazy ' : '') + classes
			)&attributes(attributes)
